---
ignore: true
---
<% function getTitle() {
  if(document && document.title)
    return document.title;
  return site.title;
}
  function getCategory(){
    if(!document) return null;
    if(document.DocumentGroupItems && document.DocumentGroupItems.length>0)
      return document.DocumentGroupItems[0].GroupItem.slug;
    return document.slug;
    return null;
  }

  function isHome(){
    return document.url === 'index.html';
  }
%>

<html>

<head>
  <title>
    <%= getTitle() %>
  </title>
  <link rel="stylesheet" type="text/css" href="<%= asset_src('css-main') %>">
  <link rel="canonical" href="<%= document.url %>" />
  <link rel="shortcut icon" href="<%= asset_src('img/favicon.ico') %>" />
</head>

<body>

  <div>
    <h1>HOME</h1>
  </div>
  <ul>
    <%+ da.news.categories().then(function(items){ %>
    <% items.forEach(function(item){ %>
      <li><%= item.name %></li>
    <% }) %>
    <% }) %>
  </ul>
</body>
