<% function getTitle() {
  if($document && $document.title)
    return $document.title;
  if($document && $document.name)
    return $document.name + ' - ' + $site.title;
  return $site.title;
}
  function getCategory(){
    if(!$document) return null;
    if($document.groupItems && $document.groupItems.length>0) {
      for(var i=0;i<$document.groupItems.length;i++ ) {
        if($document.groupItems[i].groupName=='categories')
        return $document.groupItems[i].uniqueName.substr(11);
      }
    }
    return $document && $document.slug;
  }

  function isHome(){
    return $file.url === '/';
  }
%>
<html>
  <head>
    <title><%= getTitle() %></title>
    <link rel="stylesheet" type="text/css" href="<%= $asset_src('css-main') %>">
    <link rel="canonical" href="http://<%- $site.host + ($file.url === '/index.html' ? '/' : $file.url) %>" />
    <link rel="shortcut icon" href="<%= $asset_src('static/img/favicon.ico') %>" />
  </head>
  <body>
    <div id="wrap" class="container">
      <div class="ban" id="page-top-banner">
      </div>
      <div id="page-content">
        <div id="page-header">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <div id="logo">
                <a href="/" title="<%= $site.title %>"><img src="<%= $asset_src('static/img/logo.jpg') %>" alt="logo"/></a>
              </div>
            </div>
            <div class="col-sm-9 col-xs-12">
              <div id="page-header-info">
                <div class="inner">
                  <h4>portalul de ştiri nr. 1 din Moldova</h4>
                </div>
              </div>
            </div>
          </div>
          <div id="page-main-menu" class="clearfix">
            <ul class="mm clearfix">
              <li><a href="/" class="<%- (isHome() ? 'active': '') %>">Acasă</a></li>
              <%+ $da.groups.categories().then(function(categories){ %>
                <% categories.forEach(function(item){ %>
                <li><a class="<%- (getCategory() === item.slug ? 'active': '') %>" href="/<%- item.slug %>/"><%= item.name %></a></li>
                <% }) %>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-ms-12">
            <% content %>
          </div>
          <div class="col-md-4 col-ms-12">
            <div class="tab">
              <div class="tab-title">
                <h4>Ultimele stiri</h4>
              </div>
              <div class="tab-content">
                <%+ $da.news.latest({limit: 5}).then(function(rows){ %>
                  <ul class="list ot-news-item">
                  <% rows.forEach(function(doc){ %>
                    <li class="list-item">
                      <div class="item clearfix">
                        <a href="<%= $doc_url(doc) %>">
                          <img class="pull-left" src="<%= $image_src(doc.imageId, doc.imageExtension, 'small') %>" alt="" />
                          <h3><%= doc.title %></h3>
                        </a>
                      </div>
                    </li>
                  <% }) %>
                  </ul>
                <% }) %>
              </div>
            </div>
            <div class="tab">
              <div class="tab-title">
                <h4>Top taguri</h4>
              </div>
              <div class="tab-content">
                <%+ $da.groups.topTags({limit: 16}).then(function(rows){ %>
                  <ul class="list ot-tag">
                  <% rows.forEach(function(doc){ %>
                    <li class="list-item">
                      <div class="item clearfix">
                        <a href="<%= $permalink('tag', doc) %>"><%= doc.name %></a>
                      </div>
                    </li>
                  <% }) %>
                  </ul>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>