---
layout: layout
section: stiri
permalink: tag
---

<div class="tab">
  <div class="tab-title">
    <h4><%= $document.name %></h4>
  </div>
  <div class="tab-content">
  <div class="row">
  <%+ $da.news.latestByGroupItem({uniqueName: $document.uniqueName, limit: 5}).then(function(docs){ %>
      <% for(var i = 0; i < docs.length; i++) { %>
      <% var doc = docs[i]; %>
      <div class="col-sm-6 col-xs-12">
        <ul class="list ot-news-item">
          <li class="list-item view-normal">
            <div class="item">
              <h3><a href="<%= $doc_url(doc) %>"><%= doc.title %></a></h3>
              <img src="<%= $image_src(doc.imageId, doc.imageExtension, 'small') %>" class="pull-left">
              <p><%= doc.summary %></p>
            </div>
          </li>
        </ul>
      </div>
      <% } %>
  <% }) %>
  </div>
</div>
</div>